.login {
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://cdn.pixabay.com/photo/2016/09/19/02/17/world-1679462_960_720.png");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: #fff;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(245, 170, 170);
}

.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.inputError {
    color: red;
    font-size: 20px;
}

.inputErr {
    padding: 10px;
    background-color: #fff;
    border: none;
    border:2px solid red;
}

.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  .loader {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }