.register {
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://cdn.pixabay.com/photo/2016/09/19/02/17/world-1679462_960_720.png");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: #fff;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.inputError {
    color: red;
    font-size: 20px;

}

.inputErr {
    padding: 10px;
    background-color: #fff;
    border: none;
    border:2px solid red;
}


.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}